input[id = "folder-to-sort"]{
    width: 100%;
}

input[id ^= "sort-to-folder"]{
    width: 100%;
}

.image-for-sort, .video-for-sort{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px solid black;
}

aside{
    float: left;
    width: 33%;
}

.history-list-block{
    
}

.sort-window-map{
    font-size: 12px;
}

.file-name, .origin{
    font-size: 12px;
    color: green;
}

.destination, .key{
    color: firebrick;
    font-size: 16px;
}

.no-files{
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 40%;
}
